asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.4
django-admin-persian-fonts==0.2
django-braces==1.16.0
django-crispy-forms==2.3
django-gravatar==0.1.0
django-model-utils==5.0.0
django-star-ratings==0.9.2
django-widget-tweaks==1.5.0
pillow==11.0.0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.2
swapper==1.4.0
tzdata==2024.2
whitenoise==6.8.2
