{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% block title-met %}
عملیات تغییر رمز با موفقیت انجام شد. 
{% endblock %}{% endblock %}


{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}">

<div class="col-md-8 tet-center mx-auto myfont">
    <!-- general form elements -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title mb-0 float-sm-right">تغییر رمز عبور</h3>
      </div>
    <div class="card-body py-4">
        <form method="post">
            <p class="py-2">گذرواژه با موفقیت تغییر یافت.</p>
        </form>
    </div>
    </div>
{% endblock %}