{% load static %}
<!DOCTYPE html>
<html dir="rtl">
<head>
<title>ارسال موفق رمز عبور</title>

</head>
<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}">

<body>
    <div class="container myfont" style="font-family: myfont; text-align: center;">
        <h1>گذرواژه جدید ایجاد شد</h1>
        
        <p>
            گذرواژه جدید تنظیم شد. اکنون می توانید وارد سامانه شوید.
        </p>

        <p><a href="{% url 'login' %}">ورود</a></p>
    </div>
</body>
</html>